body{
  background-color: #708090;
  text-align: center;
}

h1{
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  font-size: 7vh;
  margin-bottom: 1vh;
}

img{
  margin : 1vh 1vh 1vh 1vh;
}

#menu{
  margin-bottom: 3vh;
}

#idbouton {
  width: 17vh;
  height: 5vh;
  font-weight: bold;
  font-size: 2vh;
  font-family: sans-serif;
  color : #708090;
  margin-top: 2vh;
}


#tableau{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column; /*aligner les flex de haut en bas, par défaut de gauche à droite*/
}

#Statut{
  width: 50vh;
  height: 10vh;
  margin-top: 2vh;

  text-align: center;
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

#cache{
  visibility: hidden;
}
